@import "primeicons/primeicons.css";

::ng-deep .p-dropdown {
  border: 1px solid #ccc !important;
  border-radius: 8px !important;
  background-color: #fff !important;
  padding: 4px 10px !important;
}

::ng-deep .p-dropdown-panel {
  background-color: #fff !important;
  border-radius: 8px !important;
}

::ng-deep .p-dropdown-item {
  padding: 8px 12px !important;
}
